<h1>Home#index</h1>

<html>
  <head>
    <title>Tout savoir sur tous les gossips de THP</title>
  </head>
  <body>
      
  <div class="container">
    <% @gossips.each do |gossip| %>
      <div class="card mb-3" style="max-width: 18rem;">
        <div class="card-header">Featured</div>
        <div class="card-body">
          <h5 class="card-title"><%= gossip.title %></h5>
          <p class="card-text">Created by: <%= gossip.user.first_name %></p>
          <!-- You can add more content here if needed -->
        </div>
      </div>
    <% end %>
  </div>

  </body>
</html>

