<! DOCTYPE html>

<html>

<h2> Welcome to the User page </h2>

<p> GOSSIP: <%= @infos_user.first_name %> </p> 
<p> GOSSIP: <%= @infos_user.last_name %> </p> 
<p> GOSSIP: <%= @infos_user.age %> </p> 
<p> GOSSIP: <%= @infos_user.email %> </p> 

</html>
